[data-darktoTheme="standard"] {
    /* Rank progress */
    .UserInfoContainerStyle-containerProgressMainScreen {
        /* Progress bar */
        &>div:nth-child(2){
            background-color: color-mix(in srgb, var(--theme-standard-color-accent), transparent 50%) !important;

            &::after {
                background-color: var(--theme-standard-color-accent) !important;
            }
        }
        
        /* XP icon */
        .UserInfoContainerStyle-xpIcon {
            mask-image: url('/play/static/images/experience.402435da.svg');
            mask-repeat: no-repeat;
            mask-size: cover;
            background: var(--theme-standard-color-accent) !important;
        }

        /* Progress text */
        .UserInfoContainerStyle-progressValue {
            color: var(--theme-standard-color-accent) !important;
            span {
                color: color-mix(in srgb, var(--theme-standard-color-accent), transparent 40%) !important;
            }
        }
    }
}