#darkto {
    .darkto-input {
        border: none;
        background-color: color-mix(in srgb, var(--color-primary), transparent 80%);
        color: var(--color-primary);
        border-radius: 8px;
        height: 24px;
        width: 96px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            display: none;
        }
    }

    label:has(.darkto-input) {
        position: relative;
    }

}