* {
  margin: 0;
  padding: 0;
}

::selection {
  color: #000;
  background-color: #a00;
}

body {
  min-width: 128px;
  min-height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #111;
  color: #aaa;
  font-size: 14px;
}

a {
  color: #fff;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 12px 24px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.logo {
  width: 24px;
}

.socials {
  display: flex;
  gap: 8px;
}

.socials a {
  width: 24px;
  height: 24px;
  background-color: #aaa;
  color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;

  &:hover {
    background-color: #ccc;
    transition: .01s;
  }
}