#darkto {
    .darkto__accountmanager__add-account {
        color: var(--color-primary);
        background-color: color-mix(in srgb, var(--color-accent), #000 40%);
        border: none;
        padding: 4px 16px;
        border-radius: 8px;
        transition: .33s;

        &:hover {
            cursor: pointer;
            background-color: color-mix(in srgb, var(--color-accent), #000 20%);
        }
    }

    .darkto__accountmanager {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 24px;

        h2 {
            margin-bottom: 0;
        }
    }

    .darkto__accountmanager__account-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        justify-content: center;
        gap: 16px 8px;
    }
}