#darkto {
    .darkto__button {
        background-color: color-mix(in srgb, var(--color-primary), transparent 80%);
        color: var(--color-primary);

        border-radius: 4px;
        padding: 4px 16px;
        border: none;
        margin: 8px;
        transition: .33s;

        &:hover {
            cursor: pointer;
            background-color: color-mix(in srgb, var(--color-primary), transparent 60%);
        }

        &.darkto__button--danger {
            background-color: #740000;

            &:hover {
                background-color: #970000;
            }
        }
    }
}