#darkto {
    .darkto__switch {
        background-color: color-mix(in srgb, var(--color-primary), transparent 80%);
        width: 32px;
        height: 16px;
        border-radius: 16px;
        position: relative;
        transition: .33s;

        input { display: none; }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            height: 0;
            width: 8px;
            height: 8px;
            top: 50%;
            left: 4px;
            transform: translate(0, -50%);
            background-color: var(--color-primary);
            border-radius: 50%;
            transition: .33s;
        }

        &:has(input:checked) {
            background-color: var(--color-accent);

            &::after {
                left: 20px;
            }
        }
    }
}