#darkto header {
    display: flex;
    align-items: center;
    margin-top: 16px;
    padding: 0 32px;

    .brand {
        display: flex;
        align-items: center;
        gap: 8px;

        font-size: var(--text-large);
        font-weight: 800;
    }

    nav {
        ul {
            display: flex;
            gap: 24px;
            font-size: var(--text-title);
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .33s;

            &.current,
            &:hover {
                color: var(--color-accent);
            }
            
        }
    }
}