#darkto {
    .darkto__accountmanager__account {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .darkto__accountmanager__account-name {
        background-color: color-mix(in srgb, var(--color-primary), transparent 90%);
        color: var(--color-primary);
        border-radius: 8px;
        border: none;
        height: 24px;
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: no-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: .33s;

        &:hover {
            cursor: pointer;
            background-color: color-mix(in srgb, var(--color-primary), transparent 80%);
        }
    }

    .darkto__accountmanager__delete-account {
        background-color: transparent;
        border: none;
        color: var(--color-accent);
        cursor: pointer;
    }
}